.layout{
    /*width: 960px;*/
    max-width: 960px;
    margin: 0 auto;
    background-color: aqua;
}
/*!*一般布局*!*/
/*.page {*/
/*    position: relative;*/
/*}*/
/*.side {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    width: 300px;*/
/*    height: 550px;*/
/*    background: green;*/
/*}*/
/*.main {*/
/*    margin-left: 310px;*/
/*    height: 550px;*/
/*    background: blue;*/
/*}*/
/*flex布局*/
.page {
    display: flex;
}
.side {
    flex:0 0 300px;
    height: 550px;
    margin-right:10px;
    background: green;
}
.main {
    flex:2;
    height: 550px;
    background: blue;
}
.up {
    flex:1;
    height: 550px;
    background: red;
}