.layout{
    /*width: 960px;*/
    max-width: 960px;
    margin: 0 auto;
    background-color: aqua;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}
/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* 导航链接 */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}

/* 链接 - 修改颜色 */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
}


/* 设置列宽度宽度 */
.column.side {
    width: 10%;
    height: 450px;
    background-color: gray;
    text-align: center;
}

/* 中间区域宽度 */
.column.middle {
    width: 70%;
    height: 450px;
    background-color: antiquewhite;
    text-align: center;
}

/* 列后清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/*!* 响应式布局 - 小于 600 px 时改为上下布局 *!*/
/*@media screen and (max-width: 600px) {*/
/*    .column.side, .column.middle {*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*!* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 *!*/
/*@media screen and (max-width: 800px) {*/
/*    .leftcolumn, .rightcolumn {*/
/*        width: 100%;*/
/*        padding: 0;*/
/*    }*/
/*}*/

/*!* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 *!*/
/*@media screen and (max-width: 400px) {*/
/*    .topnav a {*/
/*        float: none;*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*底部区域*/

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 10px;
}